simulator.dSYM/Contents/Info.plist
simulator.dSYM/Contents/Resources/DWARF/simulator
.vscode/settings.json
.vscode/tasks.json
*.o
.vscode/targets.log
.vscode/configurationCache.log
simulator
.vscode/dryrun.log
